<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @project_manager.project_id %>
</p>

<p>
  <strong>Person:</strong>
  <%= @project_manager.person_id %>
</p>

<p>
  <strong>Primary:</strong>
  <%= @project_manager.primary %>
</p>

<p>
  <strong>Active date:</strong>
  <%= @project_manager.active_date %>
</p>

<p>
  <strong>Inactive date:</strong>
  <%= @project_manager.inactive_date %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @project_manager.created_by %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @project_manager.created_at %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @project_manager.updated_by %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @project_manager.updated_at %>
</p>

<%= link_to 'Edit', edit_project_manager_path(@project_manager) %> |
<%= link_to 'Back', project_managers_path %>
