<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @person.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @person.description %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @person.userid %>
</p>

<p>
  <strong>Active date:</strong>
  <%= @person.active_date %>
</p>

<p>
  <strong>Inactive date:</strong>
  <%= @person.inactive_date %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
