<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @project.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @project.url %>
</p>

<p>
  <strong>Active date:</strong>
  <%= @project.active_date %>
</p>

<p>
  <strong>Inactive date:</strong>
  <%= @project.inactive_date %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @project.created_by %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @project.created_at %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @project.updated_by %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @project.updated_at %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
