<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @project_person_estimate.project_id %>
</p>

<p>
  <strong>Person:</strong>
  <%= @project_person_estimate.person_id %>
</p>

<p>
  <strong>Time amount:</strong>
  <%= @project_person_estimate.time_amount %>
</p>

<p>
  <strong>Time unit type:</strong>
  <%= @project_person_estimate.time_unit_type_id %>
</p>

<p>
  <strong>Active date:</strong>
  <%= @project_person_estimate.active_date %>
</p>

<p>
  <strong>Inactive date:</strong>
  <%= @project_person_estimate.inactive_date %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @project_person_estimate.created_by %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @project_person_estimate.created_at %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @project_person_estimate.updated_by %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @project_person_estimate.updated_at %>
</p>

<%= link_to 'Edit', edit_project_person_estimate_path(@project_person_estimate) %> |
<%= link_to 'Back', project_person_estimates_path %>
